<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>Your status has been <%= @cabuser.status%>!</p>
    <p>
    Cab User status details<br>
    --------------------------
    </p>
    <p>Cab id: <%= @cabuser.cab_id %></p>
    <p>User id: <%= @cabuser.user_id %></p>
    <p>Status: <%= @cabuser.status %></p>
  </body>
</html>