<h1>See request</h1>
<table>
  <tr>
  	<th>Cab_id</th>
    <th>User_id</th>
    <th>status</th>
  </tr>

  <tr>
    <td>Driver cab name: <%= @cabuser.cab_id %></td>
    <td>Driver cab route: <%= @cabuser.user_id %></td> 
    <td>Driver cab number: <%= @cabuser.status %></td>
  </tr>
</table>
