<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>You got a new driver request from <%= @driver_request.name %>!</p>
    <p>
    Driver Request details<br>
    --------------------------
    </p>
    <p>Name: <%= @driver_request.name %></p>
    <p>Email: <%= @driver_request.email %></p>
    <p>Status: <%= @driver_request.status %></p>
  </body>
</html>